<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Devoir Atlan</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
	<link rel="stylesheet" href="{{app.request.basepath}}/src/css/style.css">
</head>
<body>
	<nav>
		<ul>
			<li><a href="{{ url('home') }}">Home</a></li>
			<li><a href="{{ url('promotions') }}">Promotions</a></li>
			<li><a href="{{ url('students') }}">Étudients</a></li>
			<li><a href="{{ url('contact') }}">Contact</a></li>
		</ul>
	</nav>

	<div class="container center-align">